@page "/compra/createcompra"

@inject NavigationManager navigation
@using AppForSEII2526.Web.Components.Shared
@using AppForSEII2526.Web.API
@using Microsoft.AspNetCore.Authorization
@inject AppForHerramientasAPIClient apiclient
@inject ILogger<CreateCompra> logger
@inject CompraStateContainer compraState

@*@attribute [Authorize]*@

<h3>Create Compra</h3>

@* rental is the object that will be edited thanks to the form *@
<EditForm Model="compra" OnValidSubmit="OpenDialog">
    <div class="row">
        <DataAnnotationsValidator />
        <ValidationSummary id="ValidationSummary" class="row alert alert-danger" />
    </div>
    <div class="row alert alert-danger" role="alert" hidden="@hideErrors">
        <p id="ErrorsShown">Errors: @messageError</p>
    </div>
    <div class="row g-3">
        <div class="col-12">
            <div class="form-floating">
                <InputText @bind-Value="compra.NombreCliente" class="form-control" id="Nombre" />
                <label for="Nombre">Nombre </label>
            </div>
        </div>
        <div class="col-12">
            <div class="form-floating">
                <InputText @bind-Value="compra.ApellidoCliente" class="form-control" id="Apellido" />
                <label for="Apellido">Apellido </label>
            </div>
        </div>
        <div class="col-12">
            <div class="form-floating">
                <InputText @bind-Value="compra.DireccionEnvio" class="form-control" id="DireccionEnvio" />
                <label for="DireccionEnvio">Direccion Envio</label>
            </div>
        </div>
        <div class="col-12">
            <div class="form-floating">
                @*a dropdown for selecting the payment method*@
                <InputSelect class="form-select" @bind-Value="@compra.TipoMetodoPago" id="MetodoPago">
                    <option value="@TiposMetodoPago.TarjetaCredito" default> TarjetaCredito</option>
                    <option value="@TiposMetodoPago.PayPal"> PayPal</option>
                    <option value="@TiposMetodoPago.Efectivo"> Efectivo</option>
                </InputSelect>
                <label for="MetodoPago">Metodo Pago</label>
            </div>
        </div>

        <div class="col-12">
            <div class="form-floating">
                <InputNumber @bind-Value="compra.NumTelefono" class="form-control" id="NumTelefono" />
                <label for="NumTelefono">Teléfono</label>
            </div>
        </div>

        <div class="col-12">
            <div class="form-floating">
                <InputText @bind-Value="compra.CorreoElectronico" class="form-control" id="CorreoElectronico" />
                <label for="CorreoElectronico">Correo electrónico</label>
            </div>
        </div>

        <div class="col-md">
            <div class="form-floating mb-3">
                @*this button will be used to ask the user if he want to proceed to rent the movies*@
                <button class="btn btn-primary" type="submit" id="crearCompraButton" disabled="@(!PuedeComprar)">
                    Compra tus herramientas
                </button>
            </div>
        </div>
    </div>

    <h4>Compra detail</h4>
    <p>
        <b>Precio Total:</b> @TotalCost €
        <button class="btn btn-outline-primary" type="submit" @onclick="ModifyCompraItems" id="modifyHerramientasButton">
            Modificar herramientas
        </button>
    </p>

    <div class="mh-100 table-responsive">
        <table class="table table-condensed table-hover" id="TableOfCompraItems">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Material</th>
                    <th>Precio de compra</th>
                    <th>Descripción</th>
                    <th>Cantidad</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in compra.CompraItems)
                {
                    <tr id="CompraData_@item.HerramientaId">
                        <td>@item.NombreHerramienta</td>
                        <td>@item.MaterialHerramienta</td>
                        <td>@item.PrecioHerramienta</td>
                        <td><InputText @bind-Value="item.DescripcionHerramienta" class="form-control" id="@($"description_{item.HerramientaId}")" /></td>
                        <InputNumber @bind-Value="item.Cantidad"
                                     TValue="int"
                                     class="form-control"
                                     id="@($"quantity_{item.HerramientaId}")" />
                    </tr>
                }
            </tbody>
        </table>
    </div>
</EditForm>

@*a modal popup dialog for checking if user wants to proceed to buy*@
@if (DialogIsOpen)
{
    <Dialog Caption="Comprar herramientas"
    Message="Quieres comprar las herramientas seleccionadas?"
    OnClose="@OnDialogClose"
    Type=Dialog.Category.SaveNot>
    </Dialog>
}

@code {

    private string messageError = "";
    private bool hideErrors { get { return messageError.Length == 0; } }
    private bool DialogIsOpen;
    private decimal TotalCost
    {
        get
        {
            double price = compra.CompraItems.Sum(ci => ci.PrecioHerramienta * ci.Cantidad);
            return Convert.ToDecimal(price);
        }
    }
    private void ModifyCompraItems()
    {
        navigation.NavigateTo("/compra/selectherramientasforcompra");
    }

    private CompraForCreateDTO compra => compraState.Compra;

    private void OpenDialog()
    {
        DialogIsOpen = true;
    }

    private async Task OnDialogClose(bool isOk)
    {

        DialogIsOpen = false;
        if (isOk)
        {
            // Process the data introduced by the user if they are valid
            if (compra.CompraItems.Count > 0)
            {
                try
                {
                    var comprado = await apiclient.CrearCompraAsync(compra);
                    compraState.CompraProcessed();
                    navigation.NavigateTo($"/compra/detailcompra/?compraID={comprado.Id}");
                }
                catch (ApiException<ValidationProblemDetails> apiexceptionvalidation)
                {

                    if (apiexceptionvalidation.Result.Errors.Values != null)
                    {
                        messageError = "";
                        foreach (var errors in apiexceptionvalidation.Result.Errors.Values)
                            //https://learn.microsoft.com/en-us/dotnet/api/system.string.join?view=net-7.0
                            messageError = string.Join("() ", messageError, string.Join(" () ", errors));
                    }
                }
                catch (ApiException apiexception)
                {
                    //we need to inform user that there was some other error while processing the request
                    messageError = "Error while processing your request, please try again later!";

                }

            }

        }
    }

    protected override async Task OnInitializedAsync()
    {

        if (authenticationState is not null)
        {
            var authState = await authenticationState;
            var user = authState?.User;

            if (user is not null)
            {
                if (user.Identity is not null && user.Identity.IsAuthenticated)
                {
                    compra.NombreCliente = user.Identity.Name;
                }
            }
            compra.NombreCliente = compra.NombreCliente == null ? "" : compra.NombreCliente;
            compra.ApellidoCliente= compra.ApellidoCliente == null ? "" : compra.ApellidoCliente;
            compra.DireccionEnvio = compra.DireccionEnvio == null ? "" : compra.DireccionEnvio;
            

        }
    }


    [CascadingParameter]
    private Task<AuthenticationState>? authenticationState { get; set; }

    private bool PuedeComprar =>
    compra.CompraItems != null &&
    compra.CompraItems.Count > 0 &&
    compra.CompraItems.All(i => i.Cantidad >= 1);
}