@page "/compra/detailcompra"

@using AppForSEII2526.Web.API
@using Microsoft.AspNetCore.Authorization
@inject AppForHerramientasAPIClient apiclient
@inject ILogger<SelectHerramientasForCompra> logger

@*attribute [Authorize]*@
<h3>Detalle de la Compra</h3>

@if (!string.IsNullOrEmpty(errors))
{
    <div class="alert alert-warning" role="alert">
        @errors
    </div>
}

@if (compra != null)
{
    <div class="container-fluid">
        <table class="table table-borderless table-sm">
            <tr>
                <th>ID Compra</th>
                <td id="IdCompra">@compra.Id</td>
            </tr>
            <tr>
                <th>Nombre Cliente</th>
                <td id="NombreCliente">@compra.NombreCliente</td>
            </tr>
            <tr>
                <th>Apellidos Cliente</th>
                <td id="ApellidoCliente">@compra.ApellidoCliente</td>
            </tr>
            <tr>
                <th>DirecciÛn de envÌo</th>
                <td id="DireccionEnvio">@compra.DireccionEnvio</td>
            </tr>
            <tr>
                <th>Fecha Compra</th>
                <td id="FechaCompra">@compra.FechaCompra.ToString("dd/MM/yyyy")</td>
            </tr>
            <tr>
                <th>Items en la Compra</th>
                <td id="ItemsCompra">@compra.CompraItems.Count</td>
            </tr>
        </table>

        <h4>Herramientas compradas</h4>

        <table class="table table-striped table-hover" id="HerramientasCompradas">
            <thead class="table-light">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Herramienta</th>
                    <th scope="col">Material</th>
                    <th scope="col">Precio</th>
                    <th scope="col">DescripciÛn</th>
                    <th scope="col">Cantidad</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in  compra.CompraItems)
                {
                    <tr id="CompraItem_@item.HerramientaId">
                        <td>@item.HerramientaId</td>
                        <td>@item.NombreHerramienta</td>
                        <td>@item.MaterialHerramienta</td>
                        <td>@item.PrecioHerramienta.ToString("0.00") Ä</td>
                        <td>@item.DescripcionHerramienta</td>
                        <td>@item.Cantidad</td>
                    </tr>
                }
            </tbody>

            <tfoot class="table-light">
                <tr>
                    <th scope="row" colspan="5" class="text-end">Precio Total de la Compra</th>
                    <td id="TotalPrice">
                    <td id="PrecioTotal">@compra.PrecioTotal.ToString("0.00") Ä</td>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
}

@code {
    [Parameter]
    [SupplyParameterFromQuery]
    public int compraID { get; set; }
    private CompraDetailDTO compra;
    private bool hideErrors { get { return errors.Length == 0; } }
    private string errors = "";


    [CascadingParameter]
    private Task<AuthenticationState>? authenticationState { get; set; }

    protected override async Task OnInitializedAsync()
    {
        @*string userName = "";
        if (authenticationState is not null) {
            var authState = await authenticationState;
            var user = authState?.User;

            if (user is not null) {
                if (user.Identity is not null && user.Identity.IsAuthenticated && user.IsInRole("User")) {
                    userName = user.Identity.Name;
                }
            }
        }*@

        try
        {
            compra = await apiclient.GetComprasPorIdAsync(compraID);
            errors = "";
        }
        catch (ApiException ex)
        {
            logger.LogError($"{DateTime.Now} Error: {ex}");
            errors = "ID no v·lido";
            compra = null;


        }

        if (compra == null)
        {
            errors = $"Error! There is not a compra with id={compraID}";
        }
    }
}