@page "/reparar/selectherramientasforreparar"
@using Microsoft.AspNetCore.Authorization
@using AppForSEII2526.Web.API
@inject AppForHerramientasAPIClient apiclient
@inject ILogger<SelectHerramientasForReparacion> logger
@inject ReparacionStateContainer reparacionState
@inject NavigationManager navigation
@*@attribute [Authorize]@*@
<h3>SelectHerramientaForReparacion</h3>

<div class="container-fluid">
    <div class="row alert alert-danger" role="alert" hidden="@hideErrors">
        <p id="ErrorsShown">Errors: @errors</p>
    </div>
    <div class="row">
        <div class="col-8">
            <div class="row">



                <div class="col">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="spanNombreHerramienta">Nombre</span>
                        <input type="text" id="inputNombreHerramienta" @bind=herramientaNombre class="form-control" placeholder="Nombre" aria-label="Nombre" aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="col">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="spanTiempoReparacion">Tiempo de Reparacion</span>
                        <input type="text" id="inputTiempoReparacion" @bind=herramientaTiempoReparacion class="form-control" placeholder="Tiempo Reparacion" aria-label="Tiempo Reparacion" aria-describedby="basic-addon1">
                    </div>
                </div>




                <div class="col">
                    <button type="button" class="btn btn-primary" @onclick=@SearchHerramientas id="searchHerramientas">Search herramientas</button>
                </div>
            </div>
            <div class="row">
                @if (herramientas == null)
                {
                    <p>Cargando herramientas....</p>
                }
                else
                {
                    <div class="mh-100 table-responsive">
                        <table class="table table-condensed table-hover" id="TableOfHerramientas">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Nombre</th>
                                    <th>Material</th>
                                    <th>Precio</th>
                                    <th>Fabricante</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var herramienta in herramientas)
                                {
                                    <tr id="HerramientaData_@herramienta.Id">
                                        <td>@herramienta.Id</td>
                                        <td>@herramienta.Nombre</td>
                                        <td>@herramienta.Material</td>
                                        <td>@herramienta.Precio</td>
                                        <td>@herramienta.Fabricante</td>
                                        <td>
                                            <button class="btn btn-outline-secondary" id="herramientaParaReparar_@herramienta.Id" @onclick="@(() => AddHerramienta(herramienta))">Añadir</button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                }
            </div>
        </div>
        <div class="col-2" hidden="@hideReparacionCart">
            <div class="row">
                <h3>Shopping Cart</h3>
            </div>
            @foreach (ReparacionItemDTO item in reparacion.ReparacionItems)
            {
                <div class="row">
                    <button type="button" class="btn btn-light" id="removeHerramienta_@item.NombreHerramienta" @onclick="@(() => RemoveReparacionItem(item))">x @item.NombreHerramienta - @item.Precio€</button>
                </div>
            }
            <div class="row">
                <button type="button" class="btn btn-primary" id="crearReparacionCarritoButton" @onclick=@RepararHerramientas>Reparar herramientas</button>
            </div>
        </div>
    </div>
</div>


@code {
    private bool hideReparacionCart { get { return reparacion.ReparacionItems.Count == 0; } }
    private ICollection<HerramientasParaRepararDTO> herramientas;
    private bool hideErrors { get { return errors.Length == 0; } }
    private string errors = "";
    private string herramientaNombre { get; set; }
    private int? herramientaTiempoReparacion { get; set; }
    private ReparacionForCreateDTO reparacion => reparacionState.Reparacion;

    private bool hiddenReparacionCart = true;

    private void AddHerramienta(HerramientasParaRepararDTO herramienta)
    {
        reparacionState.AddHerramientaToReparacion(herramienta);
    }

    private void RemoveReparacionItem(ReparacionItemDTO item)
    {
        reparacionState.RemoveReparacionItemToReparar(item);
        if (reparacion.ReparacionItems.Count == 0) hiddenReparacionCart = true;
    }

    public async void SearchHerramientas()
    {
        if (herramientaTiempoReparacion == 0)
        {
            herramientaTiempoReparacion = null;

        }
        try
        {
            herramientas = await apiclient.GetHerramientasPorNombreTiempoRepAsync(herramientaNombre, herramientaTiempoReparacion);
            errors = "";

        }
        catch (ApiException ex)
        {
            logger.LogError($"{DateTime.Now} Error: {ex}");
            errors = "Error while connecting to the system";
        }
        StateHasChanged();
    }

    protected override Task OnInitializedAsync()
    {

        SearchHerramientas();

        return base.OnInitializedAsync();
    }

    private void RepararHerramientas()
    {
        navigation.NavigateTo("/reparaciones/createreparacion");
    }
}
